<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <ComponentGroup Id="OfficeComponents" Directory="INSTALLDIR">
      <Component Id='OfficeComponent' Guid='3C765D96-DDBF-4C72-8D34-DCC49B6D9961' Win64='yes'>
        <RegistryValue Root='HKCU' Key='Software\OpenRPA'
                   Name='InstallFolder'
                   Value='[INSTALLDIR]'
                   Type='string'
                   KeyPath='yes' />

        <File Source='$(var.ProjectDir)..\OpenRPA.Office\bin\PrepInstaller\net462\OpenRPA.Office.dll' />
        <File Source='$(var.ProjectDir)..\OpenRPA.Office\bin\PrepInstaller\net462\Office.dll' />
        <File Source='$(var.ProjectDir)..\OpenRPA.Office\bin\PrepInstaller\net462\Microsoft.Office.Interop.Word.dll' />
        <File Source='$(var.ProjectDir)..\OpenRPA.Office\bin\PrepInstaller\net462\Microsoft.Office.Interop.PowerPoint.dll' />
        <File Source='$(var.ProjectDir)..\OpenRPA.Office\bin\PrepInstaller\net462\Microsoft.Office.Interop.Outlook.dll' />
        <File Source='$(var.ProjectDir)..\OpenRPA.Office\bin\PrepInstaller\net462\Microsoft.Office.Interop.Excel.dll' />
      </Component>
		</ComponentGroup>

</Fragment>
</Wix>
