<?xml version="1.0" encoding="UTF-8"?>
<?include $(sys.CURRENTDIR)lanEN.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI Id="UI_OPENRPA">

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Mondo" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="WelcomeDlg" />
      <DialogRef Id="BrowseDlg" />
      <!--<DialogRef Id="FeaturesDlg"/>-->

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="FeatureTreeDlg">1</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      

      <Publish Dialog="FeatureTreeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg"  Order="15">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="FeatureTreeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg"  Order="16">NOT WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="FeatureTreeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="20">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="FeatureTreeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="21">NOT WixUI_InstallMode = "Change"</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg"  Order="10">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="FeatureTreeDlg">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="FeatureTreeDlg">NOT WixUI_InstallMode = "Change"</Publish>

      <!--<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="FeatureTreeDlg">1</Publish>-->

      <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="FeatureTreeDlg"  Order="10">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg"  Order="10">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg"  Order="10">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg"  Order="10">1</Publish>

    </UI>

    <UIRef Id="WixUI_Common" />

  </Fragment>
</Wix>
