<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="D60C2FE6-7E96-4DA3-92A9-28090679DF79" Name="OpenRPA" Language="1033" Version="1.0.89" Manufacturer="OpenRPA ApS" UpgradeCode="85145845-830C-425B-9407-ABEC154A306B">
        <Package Description="Test file in a Product" Comments="Simple test" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="OpenRPA">
                    <Component Id="StartMenuShortcuts" Guid="6164E62F-E004-473D-9ED1-96A41733542D">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                        <Shortcut Id="UninstallProduct" Name="Uninstall OpenRPA" Description="Uninstalls the OpenRPA application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="ADDON.ZIP" />
            <ComponentRef Id="DEBUG.LOG" />
            <ComponentRef Id="DOTNETPROJECTS.DATAVISUALIZATION.TOOLKIT.DLL" />
            <ComponentRef Id="DOTNETPROJECTS.INPUT.TOOLKIT.DLL" />
            <ComponentRef Id="DOTNETPROJECTS.LAYOUT.TOOLKIT.DLL" />
            <ComponentRef Id="DOTNETPROJECTS.WPF.THEMES.DLL" />
            <ComponentRef Id="FLAUI.CORE.DLL" />
            <ComponentRef Id="FLAUI.UIA3.DLL" />
            <ComponentRef Id="ICSHARPCODE.AVALONEDIT.DLL" />
            <ComponentRef Id="INTEROP.UIAUTOMATIONCLIENT.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.FEATURES.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.WORKSPACES.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.FEATURES.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.FLOWANALYSIS.UTILITIES.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.FEATURES.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.WORKSPACES.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.WORKSPACES.DLL" />
            <ComponentRef Id="MICROSOFT.DIASYMREADER.DLL" />
            <ComponentRef Id="MICROSOFT.WIN32.PRIMITIVES.DLL" />
            <ComponentRef Id="NETSTANDARD.DLL" />
            <ComponentRef Id="NEWTONSOFT.JSON.DLL" />
            <ComponentRef Id="NLOG.DLL" />
            <ComponentRef Id="NUGET.COMMON.DLL" />
            <ComponentRef Id="NUGET.CONFIGURATION.DLL" />
            <ComponentRef Id="NUGET.FRAMEWORKS.DLL" />
            <ComponentRef Id="NUGET.PACKAGING.DLL" />
            <ComponentRef Id="NUGET.PROTOCOL.DLL" />
            <ComponentRef Id="NUGET.RESOLVER.DLL" />
            <ComponentRef Id="NUGET.VERSIONING.DLL" />
            <ComponentRef Id="OPENRPA.CODEEDITOR.DLL" />
            <ComponentRef Id="OPENRPA.CODEEDITOR.DLL.CONFIG" />
            <ComponentRef Id="OPENRPA.CODEEDITOR.PDB" />
            <ComponentRef Id="OPENRPA.EXE" />
            <ComponentRef Id="OPENRPA.EXE.CONFIG" />
            <ComponentRef Id="OPENRPA.INTERFACES.DLL" />
            <ComponentRef Id="OPENRPA.INTERFACES.PDB" />
            <ComponentRef Id="OPENRPA.NAMEDPIPEWRAPPER.DLL" />
            <ComponentRef Id="OPENRPA.NAMEDPIPEWRAPPER.PDB" />
            <ComponentRef Id="OPENRPA.NET.DLL" />
            <ComponentRef Id="OPENRPA.NET.PDB" />
            <ComponentRef Id="OPENRPA.PDB" />
            <ComponentRef Id="OPENRPA.WINDOWS.DLL" />
            <ComponentRef Id="OPENRPA.WINDOWS.PDB" />
            <ComponentRef Id="SYSTEM.APPCONTEXT.DLL" />
            <ComponentRef Id="SYSTEM.BUFFERS.DLL" />
            <ComponentRef Id="SYSTEM.COLLECTIONS.CONCURRENT.DLL" />
            <ComponentRef Id="SYSTEM.COLLECTIONS.DLL" />
            <ComponentRef Id="SYSTEM.COLLECTIONS.IMMUTABLE.DLL" />
            <ComponentRef Id="SYSTEM.COLLECTIONS.NONGENERIC.DLL" />
            <ComponentRef Id="SYSTEM.COLLECTIONS.SPECIALIZED.DLL" />
            <ComponentRef Id="SYSTEM.COMPONENTMODEL.DLL" />
            <ComponentRef Id="SYSTEM.COMPONENTMODEL.EVENTBASEDASYNC.DLL" />
            <ComponentRef Id="SYSTEM.COMPONENTMODEL.PRIMITIVES.DLL" />
            <ComponentRef Id="SYSTEM.COMPONENTMODEL.TYPECONVERTER.DLL" />
            <ComponentRef Id="SYSTEM.COMPOSITION.ATTRIBUTEDMODEL.DLL" />
            <ComponentRef Id="SYSTEM.COMPOSITION.CONVENTION.DLL" />
            <ComponentRef Id="SYSTEM.COMPOSITION.HOSTING.DLL" />
            <ComponentRef Id="SYSTEM.COMPOSITION.RUNTIME.DLL" />
            <ComponentRef Id="SYSTEM.COMPOSITION.TYPEDPARTS.DLL" />
            <ComponentRef Id="SYSTEM.CONSOLE.DLL" />
            <ComponentRef Id="SYSTEM.DATA.COMMON.DLL" />
            <ComponentRef Id="SYSTEM.DIAGNOSTICS.CONTRACTS.DLL" />
            <ComponentRef Id="SYSTEM.DIAGNOSTICS.DEBUG.DLL" />
            <ComponentRef Id="SYSTEM.DIAGNOSTICS.FILEVERSIONINFO.DLL" />
            <ComponentRef Id="SYSTEM.DIAGNOSTICS.PROCESS.DLL" />
            <ComponentRef Id="SYSTEM.DIAGNOSTICS.STACKTRACE.DLL" />
            <ComponentRef Id="SYSTEM.DIAGNOSTICS.TEXTWRITERTRACELISTENER.DLL" />
            <ComponentRef Id="SYSTEM.DIAGNOSTICS.TOOLS.DLL" />
            <ComponentRef Id="SYSTEM.DIAGNOSTICS.TRACESOURCE.DLL" />
            <ComponentRef Id="SYSTEM.DIAGNOSTICS.TRACING.DLL" />
            <ComponentRef Id="SYSTEM.DRAWING.PRIMITIVES.DLL" />
            <ComponentRef Id="SYSTEM.DYNAMIC.RUNTIME.DLL" />
            <ComponentRef Id="SYSTEM.GLOBALIZATION.CALENDARS.DLL" />
            <ComponentRef Id="SYSTEM.GLOBALIZATION.DLL" />
            <ComponentRef Id="SYSTEM.GLOBALIZATION.EXTENSIONS.DLL" />
            <ComponentRef Id="SYSTEM.IO.COMPRESSION.DLL" />
            <ComponentRef Id="SYSTEM.IO.COMPRESSION.ZIPFILE.DLL" />
            <ComponentRef Id="SYSTEM.IO.DLL" />
            <ComponentRef Id="SYSTEM.IO.FILESYSTEM.DLL" />
            <ComponentRef Id="SYSTEM.IO.FILESYSTEM.DRIVEINFO.DLL" />
            <ComponentRef Id="SYSTEM.IO.FILESYSTEM.PRIMITIVES.DLL" />
            <ComponentRef Id="SYSTEM.IO.FILESYSTEM.WATCHER.DLL" />
            <ComponentRef Id="SYSTEM.IO.ISOLATEDSTORAGE.DLL" />
            <ComponentRef Id="SYSTEM.IO.MEMORYMAPPEDFILES.DLL" />
            <ComponentRef Id="SYSTEM.IO.PIPES.DLL" />
            <ComponentRef Id="SYSTEM.IO.UNMANAGEDMEMORYSTREAM.DLL" />
            <ComponentRef Id="SYSTEM.LINQ.DLL" />
            <ComponentRef Id="SYSTEM.LINQ.EXPRESSIONS.DLL" />
            <ComponentRef Id="SYSTEM.LINQ.PARALLEL.DLL" />
            <ComponentRef Id="SYSTEM.LINQ.QUERYABLE.DLL" />
            <ComponentRef Id="SYSTEM.MEMORY.DLL" />
            <ComponentRef Id="SYSTEM.NET.HTTP.DLL" />
            <ComponentRef Id="SYSTEM.NET.NAMERESOLUTION.DLL" />
            <ComponentRef Id="SYSTEM.NET.NETWORKINFORMATION.DLL" />
            <ComponentRef Id="SYSTEM.NET.PING.DLL" />
            <ComponentRef Id="SYSTEM.NET.PRIMITIVES.DLL" />
            <ComponentRef Id="SYSTEM.NET.REQUESTS.DLL" />
            <ComponentRef Id="SYSTEM.NET.SECURITY.DLL" />
            <ComponentRef Id="SYSTEM.NET.SOCKETS.DLL" />
            <ComponentRef Id="SYSTEM.NET.WEBHEADERCOLLECTION.DLL" />
            <ComponentRef Id="SYSTEM.NET.WEBSOCKETS.CLIENT.DLL" />
            <ComponentRef Id="SYSTEM.NET.WEBSOCKETS.CLIENT.MANAGED.DLL" />
            <ComponentRef Id="SYSTEM.NET.WEBSOCKETS.DLL" />
            <ComponentRef Id="SYSTEM.NUMERICS.VECTORS.DLL" />
            <ComponentRef Id="SYSTEM.OBJECTMODEL.DLL" />
            <ComponentRef Id="SYSTEM.REFLECTION.DLL" />
            <ComponentRef Id="SYSTEM.REFLECTION.EXTENSIONS.DLL" />
            <ComponentRef Id="SYSTEM.REFLECTION.METADATA.DLL" />
            <ComponentRef Id="SYSTEM.REFLECTION.PRIMITIVES.DLL" />
            <ComponentRef Id="SYSTEM.RESOURCES.READER.DLL" />
            <ComponentRef Id="SYSTEM.RESOURCES.RESOURCEMANAGER.DLL" />
            <ComponentRef Id="SYSTEM.RESOURCES.WRITER.DLL" />
            <ComponentRef Id="SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE.DLL" />
            <ComponentRef Id="SYSTEM.RUNTIME.COMPILERSERVICES.VISUALC.DLL" />
            <ComponentRef Id="SYSTEM.RUNTIME.DLL" />
            <ComponentRef Id="SYSTEM.RUNTIME.EXTENSIONS.DLL" />
            <ComponentRef Id="SYSTEM.RUNTIME.HANDLES.DLL" />
            <ComponentRef Id="SYSTEM.RUNTIME.INTEROPSERVICES.DLL" />
            <ComponentRef Id="SYSTEM.RUNTIME.INTEROPSERVICES.RUNTIMEINFORMATION.DLL" />
            <ComponentRef Id="SYSTEM.RUNTIME.NUMERICS.DLL" />
            <ComponentRef Id="SYSTEM.RUNTIME.SERIALIZATION.FORMATTERS.DLL" />
            <ComponentRef Id="SYSTEM.RUNTIME.SERIALIZATION.JSON.DLL" />
            <ComponentRef Id="SYSTEM.RUNTIME.SERIALIZATION.PRIMITIVES.DLL" />
            <ComponentRef Id="SYSTEM.RUNTIME.SERIALIZATION.XML.DLL" />
            <ComponentRef Id="SYSTEM.SECURITY.CLAIMS.DLL" />
            <ComponentRef Id="SYSTEM.SECURITY.CRYPTOGRAPHY.ALGORITHMS.DLL" />
            <ComponentRef Id="SYSTEM.SECURITY.CRYPTOGRAPHY.CSP.DLL" />
            <ComponentRef Id="SYSTEM.SECURITY.CRYPTOGRAPHY.ENCODING.DLL" />
            <ComponentRef Id="SYSTEM.SECURITY.CRYPTOGRAPHY.PRIMITIVES.DLL" />
            <ComponentRef Id="SYSTEM.SECURITY.CRYPTOGRAPHY.PROTECTEDDATA.DLL" />
            <ComponentRef Id="SYSTEM.SECURITY.CRYPTOGRAPHY.X509CERTIFICATES.DLL" />
            <ComponentRef Id="SYSTEM.SECURITY.PRINCIPAL.DLL" />
            <ComponentRef Id="SYSTEM.SECURITY.SECURESTRING.DLL" />
            <ComponentRef Id="SYSTEM.TEXT.ENCODING.CODEPAGES.DLL" />
            <ComponentRef Id="SYSTEM.TEXT.ENCODING.DLL" />
            <ComponentRef Id="SYSTEM.TEXT.ENCODING.EXTENSIONS.DLL" />
            <ComponentRef Id="SYSTEM.TEXT.REGULAREXPRESSIONS.DLL" />
            <ComponentRef Id="SYSTEM.THREADING.DLL" />
            <ComponentRef Id="SYSTEM.THREADING.OVERLAPPED.DLL" />
            <ComponentRef Id="SYSTEM.THREADING.TASKS.DLL" />
            <ComponentRef Id="SYSTEM.THREADING.TASKS.EXTENSIONS.DLL" />
            <ComponentRef Id="SYSTEM.THREADING.TASKS.PARALLEL.DLL" />
            <ComponentRef Id="SYSTEM.THREADING.THREAD.DLL" />
            <ComponentRef Id="SYSTEM.THREADING.THREADPOOL.DLL" />
            <ComponentRef Id="SYSTEM.THREADING.TIMER.DLL" />
            <ComponentRef Id="SYSTEM.VALUETUPLE.DLL" />
            <ComponentRef Id="SYSTEM.XML.READERWRITER.DLL" />
            <ComponentRef Id="SYSTEM.XML.XDOCUMENT.DLL" />
            <ComponentRef Id="SYSTEM.XML.XMLDOCUMENT.DLL" />
            <ComponentRef Id="SYSTEM.XML.XMLSERIALIZER.DLL" />
            <ComponentRef Id="SYSTEM.XML.XPATH.DLL" />
            <ComponentRef Id="SYSTEM.XML.XPATH.XDOCUMENT.DLL" />
            <ComponentRef Id="XCEED.WPF.AVALONDOCK.DLL" />
            <ComponentRef Id="XCEED.WPF.AVALONDOCK.THEMES.AERO.DLL" />
            <ComponentRef Id="XCEED.WPF.AVALONDOCK.THEMES.METRO.DLL" />
            <ComponentRef Id="XCEED.WPF.AVALONDOCK.THEMES.VS2010.DLL" />
            <ComponentRef Id="XCEED.WPF.TOOLKIT.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.FEATURES.RESOURCES.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.RESOURCES.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.WORKSPACES.RESOURCES.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.FEATURES.RESOURCES.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.RESOURCES.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.FEATURES.RESOURCES.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.RESOURCES.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.WORKSPACES.RESOURCES.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.WORKSPACES.RESOURCES.DLL" />
            <ComponentRef Id="OPENRPA.INTERFACES.RESOURCES.DLL" />
            <ComponentRef Id="OPENRPA.RESOURCES.DLL" />
            <ComponentRef Id="OPENRPA.WINDOWS.RESOURCES.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.FEATURES.RESOURCES.DLL_1" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.RESOURCES.DLL_1" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.WORKSPACES.RESOURCES.DLL_1" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.FEATURES.RESOURCES.DLL_1" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.RESOURCES.DLL_1" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.FEATURES.RESOURCES.DLL_1" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.RESOURCES.DLL_1" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.WORKSPACES.RESOURCES.DLL_1" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.WORKSPACES.RESOURCES.DLL_1" />
            <ComponentRef Id="OPENRPA.INTERFACES.RESOURCES.DLL_1" />
            <ComponentRef Id="OPENRPA.RESOURCES.DLL_1" />
            <ComponentRef Id="OPENRPA.WINDOWS.RESOURCES.DLL_1" />
            <ComponentRef Id="XCEED.WPF.AVALONDOCK.RESOURCES.DLL" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.FEATURES.RESOURCES.DLL_2" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.RESOURCES.DLL_2" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.WORKSPACES.RESOURCES.DLL_2" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.FEATURES.RESOURCES.DLL_2" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.RESOURCES.DLL_2" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.FEATURES.RESOURCES.DLL_2" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.RESOURCES.DLL_2" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.WORKSPACES.RESOURCES.DLL_2" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.WORKSPACES.RESOURCES.DLL_2" />
            <ComponentRef Id="OPENRPA.INTERFACES.RESOURCES.DLL_2" />
            <ComponentRef Id="OPENRPA.RESOURCES.DLL_2" />
            <ComponentRef Id="OPENRPA.WINDOWS.RESOURCES.DLL_2" />
            <ComponentRef Id="XCEED.WPF.AVALONDOCK.RESOURCES.DLL_1" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.FEATURES.RESOURCES.DLL_3" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.RESOURCES.DLL_3" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.WORKSPACES.RESOURCES.DLL_3" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.FEATURES.RESOURCES.DLL_3" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.RESOURCES.DLL_3" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.FEATURES.RESOURCES.DLL_3" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.RESOURCES.DLL_3" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.WORKSPACES.RESOURCES.DLL_3" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.WORKSPACES.RESOURCES.DLL_3" />
            <ComponentRef Id="XCEED.WPF.AVALONDOCK.RESOURCES.DLL_2" />
            <ComponentRef Id="DATA_0" />
            <ComponentRef Id="DATA_1" />
            <ComponentRef Id="DATA_2" />
            <ComponentRef Id="DATA_3" />
            <ComponentRef Id="INDEX" />
            <ComponentRef Id="XCEED.WPF.AVALONDOCK.RESOURCES.DLL_3" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.FEATURES.RESOURCES.DLL_4" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.RESOURCES.DLL_4" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.WORKSPACES.RESOURCES.DLL_4" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.FEATURES.RESOURCES.DLL_4" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.RESOURCES.DLL_4" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.FEATURES.RESOURCES.DLL_4" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.RESOURCES.DLL_4" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.WORKSPACES.RESOURCES.DLL_4" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.WORKSPACES.RESOURCES.DLL_4" />
            <ComponentRef Id="XCEED.WPF.AVALONDOCK.RESOURCES.DLL_4" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.FEATURES.RESOURCES.DLL_5" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.RESOURCES.DLL_5" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.WORKSPACES.RESOURCES.DLL_5" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.FEATURES.RESOURCES.DLL_5" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.RESOURCES.DLL_5" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.FEATURES.RESOURCES.DLL_5" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.RESOURCES.DLL_5" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.WORKSPACES.RESOURCES.DLL_5" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.WORKSPACES.RESOURCES.DLL_5" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.FEATURES.RESOURCES.DLL_6" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.RESOURCES.DLL_6" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.WORKSPACES.RESOURCES.DLL_6" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.FEATURES.RESOURCES.DLL_6" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.RESOURCES.DLL_6" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.FEATURES.RESOURCES.DLL_6" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.RESOURCES.DLL_6" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.WORKSPACES.RESOURCES.DLL_6" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.WORKSPACES.RESOURCES.DLL_6" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.FEATURES.RESOURCES.DLL_7" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.RESOURCES.DLL_7" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.WORKSPACES.RESOURCES.DLL_7" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.FEATURES.RESOURCES.DLL_7" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.RESOURCES.DLL_7" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.FEATURES.RESOURCES.DLL_7" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.RESOURCES.DLL_7" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.WORKSPACES.RESOURCES.DLL_7" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.WORKSPACES.RESOURCES.DLL_7" />
            <ComponentRef Id="OPENRPA.INTERFACES.RESOURCES.DLL_3" />
            <ComponentRef Id="OPENRPA.RESOURCES.DLL_3" />
            <ComponentRef Id="OPENRPA.WINDOWS.RESOURCES.DLL_3" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.FEATURES.RESOURCES.DLL_8" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.RESOURCES.DLL_8" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.WORKSPACES.RESOURCES.DLL_8" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.FEATURES.RESOURCES.DLL_8" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.RESOURCES.DLL_8" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.FEATURES.RESOURCES.DLL_8" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.RESOURCES.DLL_8" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.WORKSPACES.RESOURCES.DLL_8" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.WORKSPACES.RESOURCES.DLL_8" />
            <ComponentRef Id="XCEED.WPF.AVALONDOCK.RESOURCES.DLL_5" />
            <ComponentRef Id="OPENRPA.INTERFACES.RESOURCES.DLL_4" />
            <ComponentRef Id="OPENRPA.RESOURCES.DLL_4" />
            <ComponentRef Id="OPENRPA.WINDOWS.RESOURCES.DLL_4" />
            <ComponentRef Id="XCEED.WPF.AVALONDOCK.RESOURCES.DLL_6" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.FEATURES.RESOURCES.DLL_9" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.RESOURCES.DLL_9" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.WORKSPACES.RESOURCES.DLL_9" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.FEATURES.RESOURCES.DLL_9" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.RESOURCES.DLL_9" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.FEATURES.RESOURCES.DLL_9" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.RESOURCES.DLL_9" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.WORKSPACES.RESOURCES.DLL_9" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.WORKSPACES.RESOURCES.DLL_9" />
            <ComponentRef Id="OPENRPA.INTERFACES.RESOURCES.DLL_5" />
            <ComponentRef Id="OPENRPA.RESOURCES.DLL_5" />
            <ComponentRef Id="OPENRPA.WINDOWS.RESOURCES.DLL_5" />
            <ComponentRef Id="XCEED.WPF.AVALONDOCK.RESOURCES.DLL_7" />
            <ComponentRef Id="XCEED.WPF.AVALONDOCK.RESOURCES.DLL_8" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.FEATURES.RESOURCES.DLL_10" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.RESOURCES.DLL_10" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.WORKSPACES.RESOURCES.DLL_10" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.FEATURES.RESOURCES.DLL_10" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.RESOURCES.DLL_10" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.FEATURES.RESOURCES.DLL_10" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.RESOURCES.DLL_10" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.WORKSPACES.RESOURCES.DLL_10" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.WORKSPACES.RESOURCES.DLL_10" />
            <ComponentRef Id="CEF.PAK" />
            <ComponentRef Id="CEFSHARP.BROWSERSUBPROCESS.CORE.DLL" />
            <ComponentRef Id="CEFSHARP.BROWSERSUBPROCESS.CORE.PDB" />
            <ComponentRef Id="CEFSHARP.BROWSERSUBPROCESS.EXE" />
            <ComponentRef Id="CEFSHARP.BROWSERSUBPROCESS.PDB" />
            <ComponentRef Id="CEFSHARP.CORE.DLL" />
            <ComponentRef Id="CEFSHARP.CORE.PDB" />
            <ComponentRef Id="CEFSHARP.CORE.XML" />
            <ComponentRef Id="CEFSHARP.DLL" />
            <ComponentRef Id="CEFSHARP.PDB" />
            <ComponentRef Id="CEFSHARP.WPF.DLL" />
            <ComponentRef Id="CEFSHARP.WPF.PDB" />
            <ComponentRef Id="CEFSHARP.WPF.XML" />
            <ComponentRef Id="CEFSHARP.XML" />
            <ComponentRef Id="CEF_100_PERCENT.PAK" />
            <ComponentRef Id="CEF_200_PERCENT.PAK" />
            <ComponentRef Id="CEF_EXTENSIONS.PAK" />
            <ComponentRef Id="CHROME_ELF.DLL" />
            <ComponentRef Id="D3DCOMPILER_47.DLL" />
            <ComponentRef Id="DEVTOOLS_RESOURCES.PAK" />
            <ComponentRef Id="ICUDTL.DAT" />
            <ComponentRef Id="LIBCEF.DLL" />
            <ComponentRef Id="LIBEGL.DLL" />
            <ComponentRef Id="LIBGLESV2.DLL" />
            <ComponentRef Id="NATIVES_BLOB.BIN" />
            <ComponentRef Id="README.TXT" />
            <ComponentRef Id="SNAPSHOT_BLOB.BIN" />
            <ComponentRef Id="V8_CONTEXT_SNAPSHOT.BIN" />
            <ComponentRef Id="AM.PAK" />
            <ComponentRef Id="AR.PAK" />
            <ComponentRef Id="BG.PAK" />
            <ComponentRef Id="BN.PAK" />
            <ComponentRef Id="CA.PAK" />
            <ComponentRef Id="CS.PAK" />
            <ComponentRef Id="DA.PAK" />
            <ComponentRef Id="DE.PAK" />
            <ComponentRef Id="EL.PAK" />
            <ComponentRef Id="EN_GB.PAK" />
            <ComponentRef Id="EN_US.PAK" />
            <ComponentRef Id="ES_419.PAK" />
            <ComponentRef Id="ES.PAK" />
            <ComponentRef Id="ET.PAK" />
            <ComponentRef Id="FA.PAK" />
            <ComponentRef Id="FI.PAK" />
            <ComponentRef Id="FIL.PAK" />
            <ComponentRef Id="FR.PAK" />
            <ComponentRef Id="GU.PAK" />
            <ComponentRef Id="HE.PAK" />
            <ComponentRef Id="HI.PAK" />
            <ComponentRef Id="HR.PAK" />
            <ComponentRef Id="HU.PAK" />
            <ComponentRef Id="ID.PAK" />
            <ComponentRef Id="IT.PAK" />
            <ComponentRef Id="JA.PAK" />
            <ComponentRef Id="KN.PAK" />
            <ComponentRef Id="KO.PAK" />
            <ComponentRef Id="LT.PAK" />
            <ComponentRef Id="LV.PAK" />
            <ComponentRef Id="ML.PAK" />
            <ComponentRef Id="MR.PAK" />
            <ComponentRef Id="MS.PAK" />
            <ComponentRef Id="NB.PAK" />
            <ComponentRef Id="NL.PAK" />
            <ComponentRef Id="PL.PAK" />
            <ComponentRef Id="PT_BR.PAK" />
            <ComponentRef Id="PT_PT.PAK" />
            <ComponentRef Id="RO.PAK" />
            <ComponentRef Id="RU.PAK" />
            <ComponentRef Id="SK.PAK" />
            <ComponentRef Id="SL.PAK" />
            <ComponentRef Id="SR.PAK" />
            <ComponentRef Id="SV.PAK" />
            <ComponentRef Id="SW.PAK" />
            <ComponentRef Id="TA.PAK" />
            <ComponentRef Id="TE.PAK" />
            <ComponentRef Id="TH.PAK" />
            <ComponentRef Id="TR.PAK" />
            <ComponentRef Id="UK.PAK" />
            <ComponentRef Id="VI.PAK" />
            <ComponentRef Id="ZH_CN.PAK" />
            <ComponentRef Id="ZH_TW.PAK" />
            <ComponentRef Id="LIBEGL.DLL_1" />
            <ComponentRef Id="LIBGLESV2.DLL_1" />
            <ComponentRef Id="CEF.PAK_1" />
            <ComponentRef Id="CEFSHARP.BROWSERSUBPROCESS.CORE.DLL_1" />
            <ComponentRef Id="CEFSHARP.BROWSERSUBPROCESS.CORE.PDB_1" />
            <ComponentRef Id="CEFSHARP.BROWSERSUBPROCESS.EXE_1" />
            <ComponentRef Id="CEFSHARP.BROWSERSUBPROCESS.PDB_1" />
            <ComponentRef Id="CEFSHARP.CORE.DLL_1" />
            <ComponentRef Id="CEFSHARP.CORE.PDB_1" />
            <ComponentRef Id="CEFSHARP.CORE.XML_1" />
            <ComponentRef Id="CEFSHARP.DLL_1" />
            <ComponentRef Id="CEFSHARP.PDB_1" />
            <ComponentRef Id="CEFSHARP.WPF.DLL_1" />
            <ComponentRef Id="CEFSHARP.WPF.PDB_1" />
            <ComponentRef Id="CEFSHARP.WPF.XML_1" />
            <ComponentRef Id="CEFSHARP.XML_1" />
            <ComponentRef Id="CEF_100_PERCENT.PAK_1" />
            <ComponentRef Id="CEF_200_PERCENT.PAK_1" />
            <ComponentRef Id="CEF_EXTENSIONS.PAK_1" />
            <ComponentRef Id="CHROME_ELF.DLL_1" />
            <ComponentRef Id="D3DCOMPILER_47.DLL_1" />
            <ComponentRef Id="DEVTOOLS_RESOURCES.PAK_1" />
            <ComponentRef Id="ICUDTL.DAT_1" />
            <ComponentRef Id="LIBCEF.DLL_1" />
            <ComponentRef Id="LIBEGL.DLL_2" />
            <ComponentRef Id="LIBGLESV2.DLL_2" />
            <ComponentRef Id="NATIVES_BLOB.BIN_1" />
            <ComponentRef Id="README.TXT_1" />
            <ComponentRef Id="SNAPSHOT_BLOB.BIN_1" />
            <ComponentRef Id="V8_CONTEXT_SNAPSHOT.BIN_1" />
            <ComponentRef Id="AM.PAK_1" />
            <ComponentRef Id="AR.PAK_1" />
            <ComponentRef Id="BG.PAK_1" />
            <ComponentRef Id="BN.PAK_1" />
            <ComponentRef Id="CA.PAK_1" />
            <ComponentRef Id="CS.PAK_1" />
            <ComponentRef Id="DA.PAK_1" />
            <ComponentRef Id="DE.PAK_1" />
            <ComponentRef Id="EL.PAK_1" />
            <ComponentRef Id="EN_GB.PAK_1" />
            <ComponentRef Id="EN_US.PAK_1" />
            <ComponentRef Id="ES_419.PAK_1" />
            <ComponentRef Id="ES.PAK_1" />
            <ComponentRef Id="ET.PAK_1" />
            <ComponentRef Id="FA.PAK_1" />
            <ComponentRef Id="FI.PAK_1" />
            <ComponentRef Id="FIL.PAK_1" />
            <ComponentRef Id="FR.PAK_1" />
            <ComponentRef Id="GU.PAK_1" />
            <ComponentRef Id="HE.PAK_1" />
            <ComponentRef Id="HI.PAK_1" />
            <ComponentRef Id="HR.PAK_1" />
            <ComponentRef Id="HU.PAK_1" />
            <ComponentRef Id="ID.PAK_1" />
            <ComponentRef Id="IT.PAK_1" />
            <ComponentRef Id="JA.PAK_1" />
            <ComponentRef Id="KN.PAK_1" />
            <ComponentRef Id="KO.PAK_1" />
            <ComponentRef Id="LT.PAK_1" />
            <ComponentRef Id="LV.PAK_1" />
            <ComponentRef Id="ML.PAK_1" />
            <ComponentRef Id="MR.PAK_1" />
            <ComponentRef Id="MS.PAK_1" />
            <ComponentRef Id="NB.PAK_1" />
            <ComponentRef Id="NL.PAK_1" />
            <ComponentRef Id="PL.PAK_1" />
            <ComponentRef Id="PT_BR.PAK_1" />
            <ComponentRef Id="PT_PT.PAK_1" />
            <ComponentRef Id="RO.PAK_1" />
            <ComponentRef Id="RU.PAK_1" />
            <ComponentRef Id="SK.PAK_1" />
            <ComponentRef Id="SL.PAK_1" />
            <ComponentRef Id="SR.PAK_1" />
            <ComponentRef Id="SV.PAK_1" />
            <ComponentRef Id="SW.PAK_1" />
            <ComponentRef Id="TA.PAK_1" />
            <ComponentRef Id="TE.PAK_1" />
            <ComponentRef Id="TH.PAK_1" />
            <ComponentRef Id="TR.PAK_1" />
            <ComponentRef Id="UK.PAK_1" />
            <ComponentRef Id="VI.PAK_1" />
            <ComponentRef Id="ZH_CN.PAK_1" />
            <ComponentRef Id="ZH_TW.PAK_1" />
            <ComponentRef Id="LIBEGL.DLL_3" />
            <ComponentRef Id="LIBGLESV2.DLL_3" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.FEATURES.RESOURCES.DLL_11" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.RESOURCES.DLL_11" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.WORKSPACES.RESOURCES.DLL_11" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.FEATURES.RESOURCES.DLL_11" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.RESOURCES.DLL_11" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.FEATURES.RESOURCES.DLL_11" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.RESOURCES.DLL_11" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.WORKSPACES.RESOURCES.DLL_11" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.WORKSPACES.RESOURCES.DLL_11" />
            <ComponentRef Id="XCEED.WPF.AVALONDOCK.RESOURCES.DLL_9" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.FEATURES.RESOURCES.DLL_12" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.RESOURCES.DLL_12" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.CSHARP.WORKSPACES.RESOURCES.DLL_12" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.FEATURES.RESOURCES.DLL_12" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.RESOURCES.DLL_12" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.FEATURES.RESOURCES.DLL_12" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.RESOURCES.DLL_12" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.VISUALBASIC.WORKSPACES.RESOURCES.DLL_12" />
            <ComponentRef Id="MICROSOFT.CODEANALYSIS.WORKSPACES.RESOURCES.DLL_12" />
            <ComponentRef Id="StartMenuShortcuts" />
        </Feature>
        <UI />
        <Icon Id="StartMenuIcon.exe" SourceFile="code\openrpa\OpenRPA\bin\PrepInstaller\net462\OpenRPA.exe" />
    </Product>
</Wix>