<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <ComponentGroup Id="MainComponents"  >
      <Component Id='OpenRPA.exe' Guid='7EBC5B95-EB7B-4F16-B65B-E1244403E7BF' Win64='yes' Directory="INSTALLDIR">
        <RegistryValue Root='HKCU' Key='Software\OpenRPA'
                   Name='InstallFolder'
                   Value='[INSTALLDIR]'
                   Type='string'
                   KeyPath='yes' />
        <File Id='openrpaExe' Source='!(wix.MainSource)\OpenRPA.exe' />

        <File Id="fil5A4BD987D2852D4ABC653BD9F45AC1F3" Source="!(wix.MainSource)\DotNetProjects.DataVisualization.Toolkit.dll" />
        <File Id="fil32CB20C686F2A6C01A3E679A4C6D58C6" Source="!(wix.MainSource)\DotNetProjects.Input.Toolkit.dll" />
        <File Id="fil403875F1BC31A5787C30F5A9187BCC2B" Source="!(wix.MainSource)\DotNetProjects.Layout.Toolkit.dll" />
        <File Id="fil6B6A91279F72BDFAC94FA2C53DD4E0E0" Source="!(wix.MainSource)\DotNetProjects.WPF.Themes.dll" />
        <File Id="filC867EA0A820F3E5F56622396F0E263C1" Source="!(wix.MainSource)\FlaUI.Core.dll" />
        <File Id="filA0FEE3F77E25D1C480F6F18CD547B5BC" Source="!(wix.MainSource)\FlaUI.UIA3.dll" />
        <File Id="fil6D3D5546417727749907FC9E19D97FF8" Source="!(wix.MainSource)\ICSharpCode.AvalonEdit.dll" />
        <File Id="fil9727C0AE97C7A52B6BA6DABB13D9BA49" Source="!(wix.MainSource)\Interop.UIAutomationClient.dll" />
        <File Id="fil48A502818AF34CF3F90310C0DDE65DF8" Source="!(wix.MainSource)\Microsoft.CodeAnalysis.CSharp.dll" />
        <File Id="fil11D1819F81DFD4511A8F9CE349C387F7" Source="!(wix.MainSource)\Microsoft.CodeAnalysis.CSharp.Features.dll" />
        <File Id="fil19CF8ADEC4D357067D7436808E530ECE" Source="!(wix.MainSource)\Microsoft.CodeAnalysis.CSharp.Workspaces.dll" />
        <File Id="filA694FFFBA0D6ABE28FDF8C85A0AEA552" Source="!(wix.MainSource)\Microsoft.CodeAnalysis.dll" />
        <File Id="filA528053A0C157E7F873A7E2028E87202" Source="!(wix.MainSource)\Microsoft.CodeAnalysis.Features.dll" />
        <File Id="fil7592E7F010975DA8A9E8F2D930A00944" Source="!(wix.MainSource)\Microsoft.CodeAnalysis.FlowAnalysis.Utilities.dll" />
        <File Id="filBB99E52B21192E7D2453BCF3706FA61E" Source="!(wix.MainSource)\Microsoft.CodeAnalysis.VisualBasic.dll" />
        <File Id="filFDE5D0DE119D17C35BF28D30ADCDCF5D" Source="!(wix.MainSource)\Microsoft.CodeAnalysis.VisualBasic.Features.dll" />
        <File Id="fil6FB1F3A80B56FDE7F980C8573E18525D" Source="!(wix.MainSource)\Microsoft.CodeAnalysis.VisualBasic.Workspaces.dll" />
        <File Id="filC0A966D19B84FD6A4969DA43A99C882B" Source="!(wix.MainSource)\Microsoft.CodeAnalysis.Workspaces.dll" />
        <File Id="fil05A7E61A6DFFA36C9ED0BAF2B52724DF" Source="!(wix.MainSource)\Microsoft.DiaSymReader.dll" />
        <File Id="fil05FF769999D602AD4FA6A489C44ED290" Source="!(wix.MainSource)\Newtonsoft.Json.dll" />
        <File Id="filB9D0C89E2BE03F54B6210850B37C7B82" Source="!(wix.MainSource)\NLog.dll" />
        <File Id="fil793549DAC9BBACE3FE0A2C6207439558" Source="!(wix.MainSource)\NuGet.Common.dll" />
        <File Id="fil1914470A96C406BB700EBFE4DFAB0CEF" Source="!(wix.MainSource)\NuGet.Configuration.dll" />
        <File Id="filC77BFD5C891086AC3DFE76BB004671EB" Source="!(wix.MainSource)\NuGet.Frameworks.dll" />
        <File Id="filA46D093A333210FF3DF479B37CE2796C" Source="!(wix.MainSource)\NuGet.Packaging.dll" />
        <File Id="fil3EFEB876BC03C56EB2BD3B5232C1DB09" Source="!(wix.MainSource)\NuGet.Protocol.dll" />
        <File Id="fil5A46BE503A05AA31B5318277C4BB848F" Source="!(wix.MainSource)\NuGet.Resolver.dll" />
        <File Id="filFAE94905D72D8368BA8CE7A78C6DEA45" Source="!(wix.MainSource)\NuGet.Versioning.dll" />
        <File Id="fil6E894942E6ADFA63F3967E0A27F05784" Source="!(wix.MainSource)\OpenRPA.CodeEditor.dll" />
        <File Id="filF0FF646DFA53CCC3ABA2E049427B7EBE" Source="!(wix.MainSource)\OpenRPA.CodeEditor.dll.config" />
        <File Id="fil57AE31DC28AB7B6FFDA5F69E89C07922" Source="!(wix.MainSource)\OpenRPA.exe.config" />
        <File Id="filDE9EE88175C8A92C8C6EDAEEC002AF7A" Source="!(wix.MainSource)\OpenRPA.Interfaces.dll" />
        <File Id="filA3BCD5A3D7D25B0128DBA215D4662EC5" Source="!(wix.MainSource)\OpenRPA.NamedPipeWrapper.dll" />
        <File Id="filC6183D826FBAEDB32E8F9DBD1F7E15A4" Source="!(wix.MainSource)\OpenRPA.Net.dll" />
        <File Id="filDB9CDEE3C08EDAA50BF126AEF358BCFC" Source="!(wix.MainSource)\OpenRPA.Windows.dll" />
        <File Id="filEDD81E77BF6933BF90C42AE0EFAA681B" Source="!(wix.MainSource)\System.Buffers.dll" />
        <File Id="fil5D4575804C3CE3ACC76FF53290806177" Source="!(wix.MainSource)\System.Collections.Immutable.dll" />
        <File Id="filB5FF2765E175A6C9AD05767B340DB194" Source="!(wix.MainSource)\System.Composition.AttributedModel.dll" />
        <File Id="filEC8798B40F53EE426933B4A1772703AA" Source="!(wix.MainSource)\System.Composition.Convention.dll" />
        <File Id="fil29E458EDBCB625D8059CFC1B5EAE625A" Source="!(wix.MainSource)\System.Composition.Hosting.dll" />
        <File Id="filC3531745E3934A2AA3E3B573EF05822B" Source="!(wix.MainSource)\System.Composition.Runtime.dll" />
        <File Id="fil4247AF19BBEC43CB533A0DF22E9A3DEB" Source="!(wix.MainSource)\System.Composition.TypedParts.dll" />
        <File Id="fil1E24D2F3B531B1D76E1631314436BD58" Source="!(wix.MainSource)\System.Memory.dll" />
        <File Id="fil377C264A4908CE349FB2070D4C79A5B4" Source="!(wix.MainSource)\System.Net.WebSockets.Client.Managed.dll" />
        <File Id="fil41D7AC86F0924A477EE48B3AF9E39249" Source="!(wix.MainSource)\System.Numerics.Vectors.dll" />
        <File Id="fil741DE04C3124C1446D2FFF811D83E100" Source="!(wix.MainSource)\System.Reflection.Metadata.dll" />
        <File Id="fil8974B12282083EB6B4CB7BAC26546374" Source="!(wix.MainSource)\System.Runtime.CompilerServices.Unsafe.dll" />
        <File Id="filC1BF4E80AF32E75E9827A0C9117D6A6B" Source="!(wix.MainSource)\System.Text.Encoding.CodePages.dll" />
        <File Id="fil6A8BC02D0E287837DC8027D6A31B1B88" Source="!(wix.MainSource)\System.Threading.Tasks.Extensions.dll" />
        <File Id="fil0F135695E925EFFCE422A78CD28F4C92" Source="!(wix.MainSource)\Xceed.Wpf.AvalonDock.dll" />
        <File Id="fil283C54AA0CCA5A82032AD6F88F3D5D84" Source="!(wix.MainSource)\Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
        <File Id="filB6214F7016ABD85F0A90650A1F105B9C" Source="!(wix.MainSource)\Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
        <File Id="filBB96100CC38385FF7DB0DBFE799C5F23" Source="!(wix.MainSource)\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
        <File Id="fil4F8E845B9B0CB9B26B9D7BA0D7737124" Source="!(wix.MainSource)\Xceed.Wpf.Toolkit.dll" />
        <RemoveFolder Id='RemoveLocalAppDataFolder' Directory='INSTALLDIR' On='uninstall' />
      </Component>
      <Component Id='mainComponentde' Win64='yes' Directory="mainde" Guid='{5B022629-6132-43BC-87EF-8777CD939585}'>
        <File Id="filA5458E628554269CB6826367CEFB1666" Source="!(wix.MainSource)\de\OpenRPA.Interfaces.resources.dll" />
        <File Id="fil797F0C60977BD6032BC2A613D743DD25" Source="!(wix.MainSource)\de\OpenRPA.resources.dll" />
        <File Id="fil14DBE8E2B9C70D54810FE919E0752A69" Source="!(wix.MainSource)\de\OpenRPA.Windows.resources.dll" />
        <File Id="fil9D2A1A803B60D41FC0B1B7FD67EEC9C8" Source="!(wix.MainSource)\de\Xceed.Wpf.AvalonDock.resources.dll" />
      </Component>
      <Component Id='mainComponentda' Win64='yes' Directory="mainda" Guid='{1D088BCA-915A-4C5A-A4D7-2CC4C201E51C}'>
        <File Id="filA24898E5C7E8CB87CEA35187DAE669B3" Source="!(wix.MainSource)\da\OpenRPA.Interfaces.resources.dll" />
        <File Id="fil4BE0EB83D68A5739E022CDE8B7A3D262" Source="!(wix.MainSource)\da\OpenRPA.resources.dll" />
        <File Id="filDBB52774CBA866987F7C6B5046F7D82A" Source="!(wix.MainSource)\da\OpenRPA.Windows.resources.dll" />
      </Component>
      <Component Id='mainComponentes' Win64='yes' Directory="maines" Guid='{3D21139F-5E2F-41B7-AF81-86763AF93542}'>
        <File Id="fil901A37465B4269BCE9EE3F7B1884B8FA" Source="!(wix.MainSource)\es\OpenRPA.Interfaces.resources.dll" />
        <File Id="filDFE451954FC532AF4BBB503DD282485A" Source="!(wix.MainSource)\es\OpenRPA.resources.dll" />
        <File Id="filA78901410E91AE56E3995ED51BBC7B53" Source="!(wix.MainSource)\es\OpenRPA.Windows.resources.dll" />
        <File Id="filB2E79FB9BDA560198EF614222AEFD35B" Source="!(wix.MainSource)\es\Xceed.Wpf.AvalonDock.resources.dll" />
      </Component>
      <Component Id='mainComponentpt' Win64='yes' Directory="mainpt" Guid='{F7315FEA-84DC-485E-999A-8CD6FA8B0C0D}'>
        <File Id="filF4BA2BA8FD71B387B8821A723886F1BF" Source="!(wix.MainSource)\pt\OpenRPA.Interfaces.resources.dll" />
        <File Id="fil34429B66C2C40EB3EEE1D2DA86B6B5DE" Source="!(wix.MainSource)\pt\OpenRPA.resources.dll" />
        <File Id="fil3316B9A3F177CF529C4C501F3A61AB77" Source="!(wix.MainSource)\pt\OpenRPA.Windows.resources.dll" />
      </Component>
      <Component Id='mainComponentro' Win64='yes' Directory="mainro" Guid='{A5C38BDE-0F0A-49B0-BFEF-964B81A02F35}'>
        <File Id="filCB0114F5EFE192364FBA9FB7F2F0C61F" Source="!(wix.MainSource)\ro\OpenRPA.Interfaces.resources.dll" />
        <File Id="fil36507B8C89ECB8F8BF5B934D6FA434F8" Source="!(wix.MainSource)\ro\OpenRPA.resources.dll" />
        <File Id="filDA3067B9DC56657830C3E584F1D6B0B6" Source="!(wix.MainSource)\ro\OpenRPA.Windows.resources.dll" />
        <File Id="fil3F9345202472B57C4B615EF270AFC9AA" Source="!(wix.MainSource)\ro\Xceed.Wpf.AvalonDock.resources.dll" />
      </Component>
      <Component Id='mainComponentru' Win64='yes' Directory="mainru" Guid='{28ABE303-A809-461B-9CE0-04AE18FC466E}'>
        <File Id="fil99D92301886B43CC25CA00F3CC04DD25" Source="!(wix.MainSource)\ru\OpenRPA.Interfaces.resources.dll" />
        <File Id="filAB7C65F71250E2651BC942C367B07E6C" Source="!(wix.MainSource)\ru\OpenRPA.resources.dll" />
        <File Id="fil126FD8D7BC3CA134C631C10414C0844C" Source="!(wix.MainSource)\ru\OpenRPA.Windows.resources.dll" />
        <File Id="fil746AB0109F6368FE0AE56C2FA8C44711" Source="!(wix.MainSource)\ru\Xceed.Wpf.AvalonDock.resources.dll" />
      </Component>
      <Component Id='mainComponentx64' Win64='yes' Directory="mainx64" Guid='{225DF59C-8C11-4AFF-95A9-88A98A6CD576}'>
        <File Id="filB436E4594E3544C098B9943DBDC1A518" Source="!(wix.MainSource)\x64\cef.pak" />
        <File Id="filCB052B4928C8DBE2730D9A211E470208" Source="!(wix.MainSource)\x64\CefSharp.BrowserSubprocess.Core.dll" />
        <File Id="filAD8611FDD6171BAEF79E9F9EC1705EE9" Source="!(wix.MainSource)\x64\CefSharp.BrowserSubprocess.exe" />
        <File Id="filC88C7623422BE649CB1D8DE7EFDA2997" Source="!(wix.MainSource)\x64\CefSharp.Core.dll" />
        <File Id="fil4C19941476E258861D238F3315543B39" Source="!(wix.MainSource)\x64\CefSharp.Core.xml" />
        <File Id="filF0CF59F24A01DAE00DEA461CE18C9389" Source="!(wix.MainSource)\x64\CefSharp.dll" />
        <File Id="filB95C83CD1FA714D6B1FEAF7CC01A5BF5" Source="!(wix.MainSource)\x64\CefSharp.Wpf.dll" />
        <File Id="fil20A7E14E1D3C37B0E54D8397517A3E73" Source="!(wix.MainSource)\x64\CefSharp.Wpf.XML" />
        <File Id="filD2AA37AE152DD56688B960E7D87291C5" Source="!(wix.MainSource)\x64\CefSharp.XML" />
        <File Id="fil18028080F88700FE877D5F5995B9FAAC" Source="!(wix.MainSource)\x64\cef_100_percent.pak" />
        <File Id="fil86FBD9BD4053D025057804F494C3C44E" Source="!(wix.MainSource)\x64\cef_200_percent.pak" />
        <File Id="filD132C0CB08CAA3499E2E024BAF5FE50F" Source="!(wix.MainSource)\x64\cef_extensions.pak" />
        <File Id="filDDDF9CCC8E330C0F855A1C50665348FD" Source="!(wix.MainSource)\x64\chrome_elf.dll" />
        <File Id="fil1BD7CBF242A2FF3CDDABAEFD77107A5A" Source="!(wix.MainSource)\x64\d3dcompiler_47.dll" />
        <File Id="filA849CD5386108EDE5B8B3D8518EEEDB3" Source="!(wix.MainSource)\x64\devtools_resources.pak" />
        <File Id="filB0AB397896475F4E74FF1B70A72D0B8B" Source="!(wix.MainSource)\x64\icudtl.dat" />
        <File Id="fil323CAEE6BB05F64F185321F5B2E40B68" Source="!(wix.MainSource)\x64\libcef.dll" />
        <File Id="filAD78B91DA97E98FE6AF8DD9B80F98B22" Source="!(wix.MainSource)\x64\libEGL.dll" />
        <File Id="fil37B200E9C3DCCC4F10FC43F9BEC63A0F" Source="!(wix.MainSource)\x64\libGLESv2.dll" />
        <File Id="fil4E634A3E360C3A8A8E07F98A66B10343" Source="!(wix.MainSource)\x64\natives_blob.bin" />
        <File Id="fil9ACC4265158BEE28AC5D12597C532D84" Source="!(wix.MainSource)\x64\README.txt" />
        <File Id="fil171EB7F3B881DFD880449D01AB09ECA1" Source="!(wix.MainSource)\x64\snapshot_blob.bin" />
        <File Id="fil9CFD5D2CAB69A2A827A1756C5C77ACD3" Source="!(wix.MainSource)\x64\v8_context_snapshot.bin" />
      </Component>
      <Component Id='mainComponentx64locales' Win64='yes' Directory="mainx64locales" Guid='{BDFFBBB0-5B79-416C-864C-771950B1A1A6}'>
        <File Id="filEF12054F8A16DD0B055F01537814B5BE" Source="!(wix.MainSource)\x64\locales\en-US.pak" />
      </Component>

      <Component Id='mainComponent64swiftshader' Win64='yes' Directory="mainx64swiftshader" Guid='{C3F02B5A-0400-4E48-B59C-084F57274F53}'>
        <File Id="filC9308A93852388F958DCE84F682053A6" Source="!(wix.MainSource)\x64\swiftshader\libEGL.dll" />
        <File Id="fil8FF6AC89C5907A8A5363662784AB3F58" Source="!(wix.MainSource)\x64\swiftshader\libGLESv2.dll" />
      </Component>
    </ComponentGroup>

    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="mainx64" Name="x64">
        <Directory Id="mainx64swiftshader" Name="swiftshader" />
        <Directory Id="mainx64locales" Name="locales" />
      </Directory>
      <Directory Id="mainde" Name="de">
      </Directory>
      <Directory Id="mainda" Name="da">
      </Directory>
      <Directory Id="maines" Name="es">
      </Directory>
      <Directory Id="mainpt" Name="pt">
      </Directory>
      <Directory Id="mainro" Name="ro">
      </Directory>
      <Directory Id="mainru" Name="ru">
      </Directory>
    </DirectoryRef>

  </Fragment>
</Wix>
