<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <ComponentGroup Id="JavaComponents">
      <Component Id='JavaComponent' Guid='{C61D768B-5A96-43F1-B89A-B4EFB1D132CE}' Win64='yes' Directory="INSTALLDIR">
        <File Id="OpenRPA.Java.dll" Source="!(wix.JavaSource)\OpenRPA.Java.dll" />
        <File Id="OpenRPA.Java.pdb" Source="!(wix.JavaSource)\OpenRPA.Java.pdb" />
        <File Id="OpenRPA.Java.dll.config" Source="!(wix.JavaSource)\OpenRPA.Java.dll.config" />
        <!--<File Id="OpenRPA.JavaBridge.exe" Source="!(wix.JavaSource)\OpenRPA.JavaBridge.exe" />
        <File Id="OpenRPA.JavaBridge.exe.config" Source="!(wix.JavaSource)\OpenRPA.JavaBridge.exe.config" />-->
        <File Id="WindowsAccessBridgeInterop.dll" Source="!(wix.JavaSource)\WindowsAccessBridgeInterop.dll" />
        <File Id="WindowsAccessBridge.dll" Source="!(wix.JavaSource)\WindowsAccessBridge.dll" />
        <File Id="WindowsAccessBridge32.dll" Source="!(wix.JavaSource)\WindowsAccessBridge-32.dll" />
        <File Id="WindowsAccessBridge64.dll" Source="!(wix.JavaSource)\WindowsAccessBridge-64.dll" />
      </Component>

      <Component Id='JavaComponentde' Win64='yes' Directory="Javade" Guid='{A845A769-AED7-4C2A-96D8-F54522588DD4}'>
        <File Id="OpenRPA.Java.resources.dll_de" Source="!(wix.JavaSource)\de\OpenRPA.Java.resources.dll" />
      </Component>
      <Component Id='JavaComponentda' Win64='yes' Directory="Javada" Guid='{21838710-678D-4D35-AD8D-47D111B0C9D3}'>
        <File Id="OpenRPA.Java.resources.dll_da" Source="!(wix.JavaSource)\da\OpenRPA.Java.resources.dll" />
      </Component>
      <Component Id='JavaComponentes' Win64='yes' Directory="Javaes" Guid='{97376A36-2BCB-42A1-B180-2BE61C3DA5C4}'>
        <File Id="OpenRPA.Java.resources.dll_es" Source="!(wix.JavaSource)\es\OpenRPA.Java.resources.dll" />
      </Component>
      <Component Id='JavaComponentpt' Win64='yes' Directory="Javapt" Guid='{3877F5FB-0299-4F7F-8E20-03B4E1049A7D}'>
        <File Id="OpenRPA.Java.resources.dll_pt" Source="!(wix.JavaSource)\pt\OpenRPA.Java.resources.dll" />
      </Component>
      <Component Id='JavaComponentro' Win64='yes' Directory="Javaro" Guid='{48E3DF70-F5C4-4AEF-B1DA-9ADAFFE74862}'>
        <File Id="OpenRPA.Java.resources.dll_ro" Source="!(wix.JavaSource)\ro\OpenRPA.Java.resources.dll" />
      </Component>
      <Component Id='JavaComponentru' Win64='yes' Directory="Javaru" Guid='{8BFCF029-B48A-4EE2-988A-1FF28E3C3FF0}'>
        <File Id="OpenRPA.Java.resources.dll_ru" Source="!(wix.JavaSource)\ru\OpenRPA.Java.resources.dll" />
      </Component>
      <Component Id='JavaComponentja' Win64='yes' Directory="Javaja" Guid='{7229BACA-98AC-4A63-B271-ACB2F3C5E2A6}'>
        <File Id="OpenRPA.Java.resources.dll_ja" Source="!(wix.JavaSource)\ja\OpenRPA.Java.resources.dll" />
      </Component>
      <Component Id='JavaComponentzh' Win64='yes' Directory="Javazh" Guid='{5022AD92-D243-45F5-BE4F-DEE397F2E4A4}'>
        <File Id="OpenRPA.Java.resources.dll_zh" Source="!(wix.JavaSource)\zh\OpenRPA.Java.resources.dll" />
      </Component>

    </ComponentGroup>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="Javade" Name="de">
      </Directory>
      <Directory Id="Javada" Name="da">
      </Directory>
      <Directory Id="Javaes" Name="es">
      </Directory>
      <Directory Id="Javapt" Name="pt">
      </Directory>
      <Directory Id="Javaro" Name="ro">
      </Directory>
      <Directory Id="Javaru" Name="ru">
      </Directory>
      <Directory Id="Javaja" Name="ja">
      </Directory>
      <Directory Id="Javazh" Name="zh">
      </Directory>
    </DirectoryRef>

  </Fragment>
</Wix>
