<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <ComponentGroup Id="OfficeComponents">
      <Component Id='OfficeComponent' Guid='{3C765D96-DDBF-4C72-8D34-DCC49B6D9961}' Win64='yes' Directory="INSTALLDIR">
        <File Id="Microsoft.Office.Interop.Excel.dll" Source="!(wix.OfficeSource)\Microsoft.Office.Interop.Excel.dll" />
        <File Id="Microsoft.Office.Interop.Outlook.dll" Source="!(wix.OfficeSource)\Microsoft.Office.Interop.Outlook.dll" />
        <File Id="Microsoft.Office.Interop.PowerPoint.dll" Source="!(wix.OfficeSource)\Microsoft.Office.Interop.PowerPoint.dll" />
        <File Id="Microsoft.Office.Interop.Word.dll" Source="!(wix.OfficeSource)\Microsoft.Office.Interop.Word.dll" />
        <File Id="Office.dll" Source="!(wix.OfficeSource)\Office.dll" />
        <File Id="OpenRPA.Office.dll" Source="!(wix.OfficeSource)\OpenRPA.Office.dll" />
        <File Id="OpenRPA.Office.pdb" Source="!(wix.OfficeSource)\OpenRPA.Office.pdb" />
      </Component>
      <Component Id='OfficeComponentde' Win64='yes' Directory="officede" Guid="{B8D8CCD7-4C5E-4DFA-BC14-A052ADC5148B}">
        <File Id="OpenRPA.Office.resources.dll_de" Source="!(wix.OfficeSource)\de\OpenRPA.Office.resources.dll" />
      </Component>
      <Component Id='OfficeComponentda' Win64='yes' Directory="officeda" Guid="{202D3CA2-FA92-43A0-81EE-6BAF2EAFDD62}">
        <File Id="OpenRPA.Office.resources.dll_da" Source="!(wix.OfficeSource)\da\OpenRPA.Office.resources.dll" />
      </Component>
      <Component Id='OfficeComponentes' Win64='yes' Directory="officees" Guid="{E8653ED3-EF33-474E-B87B-0B08707C93ED}">
        <File Id="OpenRPA.Office.resources.dll_es" Source="!(wix.OfficeSource)\es\OpenRPA.Office.resources.dll" />
      </Component>
      <Component Id='OfficeComponentpt' Win64='yes' Directory="officept" Guid="{9DEC2B2E-1F68-4A2F-96D7-6C0672C81CF5}">
        <File Id="OpenRPA.Office.resources.dll_pt" Source="!(wix.OfficeSource)\pt\OpenRPA.Office.resources.dll" />
      </Component>
      <Component Id='OfficeComponentro' Win64='yes' Directory="officero" Guid="{DC500D28-166F-48B4-BDAC-2FD02BFB3C5E}">
        <File Id="OpenRPA.Office.resources.dll_ro" Source="!(wix.OfficeSource)\ro\OpenRPA.Office.resources.dll" />
      </Component>
      <Component Id='OfficeComponentru' Win64='yes' Directory="officeru" Guid="{906AE138-CB2E-47E2-841D-8931B0867E33}">
        <File Id="OpenRPA.Office.resources.dll_ru" Source="!(wix.OfficeSource)\ru\OpenRPA.Office.resources.dll" />
      </Component>
      <Component Id='OfficeComponentja' Win64='yes' Directory="officeja" Guid="{47D9779E-5165-4738-B018-86F9421C0A83}">
        <File Id="OpenRPA.Office.resources.dll_ja" Source="!(wix.OfficeSource)\ja\OpenRPA.Office.resources.dll" />
      </Component>
      <Component Id='OfficeComponentzh' Win64='yes' Directory="officezh" Guid="{E1A7E885-AC6D-4587-9A13-17B22CDDCFD0}">
        <File Id="OpenRPA.Office.resources.dll_zh" Source="!(wix.OfficeSource)\zh\OpenRPA.Office.resources.dll" />
      </Component>

    </ComponentGroup>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="officede" Name="de">
      </Directory>
      <Directory Id="officeda" Name="da">
      </Directory>
      <Directory Id="officees" Name="es">
      </Directory>
      <Directory Id="officept" Name="pt">
      </Directory>
      <Directory Id="officero" Name="ro">
      </Directory>
      <Directory Id="officeru" Name="ru">
      </Directory>
      <Directory Id="officeja" Name="ja">
      </Directory>
      <Directory Id="officezh" Name="zh">
      </Directory>
    </DirectoryRef>
    <!--<ComponentGroup Id="OfficeComponentsde" >
    </ComponentGroup>-->

    <!--<Directory Id="de" Name="de">

          <Component Id="OpenRPA.Office.resources.dll_1" Guid="{807C2001-96B1-493B-9FEB-BBE578444FF8}" Win64="yes">
          </Component>
        </Directory>
        <Directory Id="es" Name="es">

          <Component Id="OpenRPA.Office.resources.dll_2" Guid="{D05915BB-E49D-4FC9-AAEC-D0982DE432AB}" Win64="yes">
            <File Id="OpenRPA.Office.resources.dll_2" Source="!(wix.OfficeSource)\es\OpenRPA.Office.resources.dll" />
          </Component>
        </Directory>
        <Directory Id="pt" Name="pt">

          <Component Id="OpenRPA.Office.resources.dll_3" Guid="{ECAEC50A-03A8-43EA-BCEC-41420F3E1A02}" Win64="yes">
            <File Id="OpenRPA.Office.resources.dll_3" Source="!(wix.OfficeSource)\pt\OpenRPA.Office.resources.dll" />
          </Component>
        </Directory>
        <Directory Id="ro" Name="ro">

          <Component Id="OpenRPA.Office.resources.dll_4" Guid="{60B9769B-2EFA-48C6-941D-27B64E179BDB}" Win64="yes">
            <File Id="OpenRPA.Office.resources.dll_4" Source="!(wix.OfficeSource)\ro\OpenRPA.Office.resources.dll" />
          </Component>
        </Directory>
        <Directory Id="ru" Name="ru">

          <Component Id="OpenRPA.Office.resources.dll_5" Guid="{581713EC-8FD7-489D-8A12-C20A46A061E2}" Win64="yes">
            <File Id="OpenRPA.Office.resources.dll_5" Source="!(wix.OfficeSource)\ru\OpenRPA.Office.resources.dll" />
          </Component>
        </Directory>-->


  </Fragment>
</Wix>
