<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>C:\nuget</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net461</TargetFramework>
  </PropertyGroup>
</Project>