<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!--   <runtime>
    <NetFx40_PInvokeStackResilience enabled="1"/>
  </runtime>
  -->
  <runtime>
    <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="ApartmentState" value="MTA"/>
  </appSettings>
</configuration>
